<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>first_name</key>
		<string>Amitabh</string>
		<key>last_name</key>
		<string>Bachchan</string>
		<key>email</key>
		<string>ab@bachchan.com</string>
		<key>phone_number</key>
		<string>+919980123412</string>
		<key>profile_pic</key>
		<string>https://contacts-app.s3-ap-southeast-1.amazonaws.com/contacts/profile_pics/000/000/007/original/ab.jpg?1464516610</string>
		<key>favorite</key>
		<string>false</string>
		<key>created_at</key>
		<string>2016-05-29T10:10:10.995Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:10:10.995Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>first_name</key>
		<string>Shahrukh</string>
		<key>last_name</key>
		<string>Khan</string>
		<key>email</key>
		<string>srk@kingkhan.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://contacts-app.s3-ap-southeast-1.amazonaws.com/contacts/profile_pics/000/000/008/original/srk.jpg?1464516694</string>
		<key>favorite</key>
		<string>false</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>first_name</key>
		<string>Sanchit</string>
		<key>last_name</key>
		<string>Singh</string>
		<key>email</key>
		<string>sanchitkumarsingh@gmail.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/5/005/091/1d7/2e89c8a.jpg</string>
		<key>favorite</key>
		<string>false</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>first_name</key>
		<string>Sankha Narayan</string>
		<key>last_name</key>
		<string>Guria</string>
		<key>email</key>
		<string>sankha@gmail.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://qph.is.quoracdn.net/main-thumb-7053977-200-vzxtghgsabxhpgeuzmbgopfeurddwwzx.jpeg</string>
		<key>favorite</key>
		<string>True</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>first_name</key>
		<string>Yash</string>
		<key>last_name</key>
		<string>Sonthalia</string>
		<key>email</key>
		<string>yash@gmail.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://s-media-cache-ak0.pinimg.com/avatars/yks1247_1411284903_140.jpg</string>
		<key>favorite</key>
		<string>True</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>first_name</key>
		<string>Shobhit </string>
		<key>last_name</key>
		<string>Srivastava</string>
		<key>email</key>
		<string>sankha@gmail.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://media.licdn.com/mpr/mpr/shrink_100_100/p/6/005/074/22e/23bad84.jpg</string>
		<key>favorite</key>
		<string>True</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>first_name</key>
		<string>Amruta</string>
		<key>last_name</key>
		<string>Kadoo</string>
		<key>email</key>
		<string>amruta@iitj.ac.in</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAI5AAAAJDFkMGQxMGQyLWVhMmMtNGU1Ny1hYTQ5LWQyN2JiZDE4ZjFjOA.jpg</string>
		<key>favorite</key>
		<string>false</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>first_name</key>
		<string>Mayank</string>
		<key>last_name</key>
		<string>Aggarwal</string>
		<key>email</key>
		<string>mayankaggarwal@gmail.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://media.licdn.com/mpr/mpr/shrink_100_100/p/8/005/088/3ed/3b4608d.jpg</string>
		<key>favorite</key>
		<string>false</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>first_name</key>
		<string>Sarthak </string>
		<key>last_name</key>
		<string>Sharma</string>
		<key>email</key>
		<string>sarthaksharma@gmail.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/13043457_883289215113842_7997389216840723077_n.jpg?oh=e4de5caafe4e27132d255865c588b5b4&amp;oe=57DE86DD</string>
		<key>favorite</key>
		<string>True</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>first_name</key>
		<string>Jenil</string>
		<key>last_name</key>
		<string>Shah</string>
		<key>email</key>
		<string>jenil@gmail.com</string>
		<key>phone_number</key>
		<string>919980432143</string>
		<key>profile_pic</key>
		<string>https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/13325465_10153594167098062_5918455825226499329_n.jpg?oh=556c18d8ee158ea644fc7570e892b169&amp;oe=57DEBA3C</string>
		<key>favorite</key>
		<string>True</string>
		<key>created_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
		<key>updated_at</key>
		<string>2016-05-29T10:11:34.134Z</string>
	</dict>
</array>
</plist>
